.m-avto{
  margin-right: auto!important;
}

.btn{
  float: right;
  background: darken($color:  #94d9ba, $amount: 30);
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  &:hover {
    background: darken($color:  #94d9ba, $amount: 20);
  }
  &:disabled{
    opacity: 0.5;
    &:hover {
      background: darken($color:  #94d9ba, $amount: 30);
    }
  }
}

.form {
  width: 20%;
  margin-top: 5%;
  margin-left: 35%;
  box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5);
  background: #fff;
    padding: 2rem 4rem 4rem 3rem;
}
.form-block{
  margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #94d9ba;
      outline: 0;
      box-shadow: 0 0 0 0.15rem rgba(0,123,255,.25);
    }
}
